{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-6 offset-md-3" >

		<form method="POST" action="./index.php" >

			<img id="image"class="img-thumbnail" src="{{data}}" alt=""> 

			<div id="textoverimageUp">
				<p id="text"></p>
			</div>
			<div id="textoverimageDown">
				<p id="text2"></p>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-md-6 offset-md-2">

			<input class="form-control" type="text" id="top-text" name ="top-text" onkeyup="drawTextup()" maxlength="17">

		</div>
	</div>
	<div class="row">
		<div class="col-md-6 offset-md-2">
			<input class="form-control" type="text" name="bottom-text" id="bottom-text" onkeyup="drawTextbottom()" maxlength="17">
			<input type="hidden" name="path" value="{{data}}">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 offset-md-2">
			<button type="submit" class="btn btn-danger btn-lg" id="save" value="save">Save</button>

		</form>


		<button id="changeColor" class="btn btn-danger btn-lg">Black / White</button>
	</div>
</div>
</div>

</div>


<!-- 1-faire appel à une des functions createimage
2 faire appel à la fonction imagettftext
3- créer un button save (sauvgarder le meme en utilisant 
les fonction de sauvgarder dans un dossier) imagepng()
4- créer un button share -->




{% endblock %}