{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">

	<form method="POST">
		<button name="categorie" class="btn btn-primary" value="angry">Angry</button>
		<button name="categorie" class="btn btn-primary" value="desperate">Desperate</button>
		<button name="categorie" class="btn btn-primary" value="happy">Happy</button>
		<button name="categorie" class="btn btn-primary" value="loving">Loving</button>
		<button name="categorie" class="btn btn-primary" value="out">Out</button>
		<button name="categorie" class="btn btn-primary" value="sad">Sad</button>
		<button name="categorie" class="btn btn-primary" value="scared">Scared</button>
		<button name="categorie" class="btn btn-primary" value="shocked">Shocked</button>
		<button name="categorie" class="btn btn-primary" value="tired">Tired</button>
	</form>
</div>
<div class="row justify-content-center">
{% for image in data %}



<a href="{{baseUrl('image/')}}{{image.filename}}"><img style='height: 300px; width: 300px; object-fit: contain'  src="{{ baseUrl('assets/img/') }}{{ image.filename }}"></a>





{% endfor %}
</div>
{% endblock %}





