
#textoverimageUp{
    width: 35%;
    height: 30px;
    /*margin-left: 1%;*/
    margin-top: -450px;
    position: absolute;
    overflow-wrap: break-word;
}


#textoverimageUp p{
    font-family: 'arial';
    font-size: 30px;
    color: white;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}

#textoverimageDown{
    width: 35%;
    height: 30px;
    /*margin-left: 1%;*/
    margin-top: -80px;
    position: absolute;
    overflow-wrap: break-word;
}


#textoverimageDown p{
    font-family: 'arial';
    font-size: 30px;
    color: white;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}