body{
    background-color: #bab8ba;
    background-image: url("https://transparenttextures.com/patterns/diagmonds.png");
    margin-top: 2%;
}
.row{
    margin-top: 2%;
}


.test{
    height: 200px;
    border: 1px solid white;
}
#textoverimageUp{

    height: 30px;
    /*margin-left: 1%;*/
    margin-top: -450px;
    position: absolute;
    overflow-wrap: break-word;
}

#textoverimageUp p{
    font-family: 'arial';
    font-size: 35px;
    color: white;
    font-weight: bolder;
    text-align: center;
    
}

#textoverimageDown{
    margin-top: -50px;
    height: 30px;
    position: absolute;
    overflow-wrap: break-word;
}

#textoverimageDown p{
    font-family: 'arial';
    font-size: 35px;
    color: white;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}


li{
    list-style-type:none;
    display:inline-block;
}


.carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
    display:block;
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }


