body{
    background-color: #bab8ba;
    background-image: url("https://transparenttextures.com/patterns/diagmonds.png");
    margin-top: 2%;
}
.row{
    margin-top: 2%;
}
#textoverimageUp{

    height: 30px;
    /*margin-left: 1%;*/
    margin-top: -450px;
    position: absolute;
    overflow-wrap: break-word;
}

#textoverimageUp p{
    font-family: 'arial';
    font-size: 30px;
    color: white;
    font-weight: bolder;
    text-align: center;
    
}

#textoverimageDown{
    margin-top: -50px;
    height: 30px;
    position: absolute;
    overflow-wrap: break-word;
}

#textoverimageDown p{
    font-family: 'arial';
    font-size: 30px;
    color: white;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}
